header {
	background-color: var(--yellow);
	padding: 1px;
	cursor: default;
	hyphens: auto;
}

header h1 {
	margin: 15px;
}

footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: auto;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f9e70c;
}


#tjenesteopprinnelsetekst {
	font-size: 1rem;
	margin: 20px;
}

.center {
		display: block;
		margin: auto;
		max-width: 800px;
		width: 95%;
	}


.tekstutseende {
	font-size: 23px;
}

.boks {
  border-radius: 5px;
  background-color: #E5E5E5;
  padding: 20px;

}

.boks input, .boks label {
	margin-bottom: 8px;
}

.boks input {
	font-size: 1rem;
	width: 200px;
	padding: 2px 5px;
}

.hovedboks input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-size: 1rem;
}


.navbar {
	ul {
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		background-color: var(--yellow);
		padding: 10px;
		font-size: 1.2rem;
	}

	li {
		display: inline;
	}

	li a {
		display: inline-flex;
		justify-content: space-around;
		flex-wrap: wrap;
		color: #14213D;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: var(--red);
		color: var(--white);
		border-radius: 10px;
	}
}