/* Topptekst og navigasjonsbar*/
header {
  background-color: var(--yellow);
  cursor: default;
}

header h1 {
  margin: 0 auto;
  padding: 20px;
  hyphens: auto;
}

.navbar {
  background-color: var(--yellow);
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--black);
}

.navbar li a:hover {
  background-color: rgb(214, 53, 53);
  color: var(--white);
  border-radius: 5px;
}
 
/* Hovedinnhold */

h1, h2, p {
  text-align: left;
}


h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

/*style.css*/
.container {
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container p:first-of-type {
  margin-bottom: 0;
}


/* Bilder */
img {
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

@media (max-width: 650px){
  h2 {
      font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
}
}