/* Topptekst og navigasjonsbar*/
header {
  background-color: var(--yellow);
  cursor: default;
}

header h1 {
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: var(--yellow);
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
}

.navbar  li {
  float: left;
}

.navbar  li a {
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--black);
}

.navbar li a:hover {
  background-color: rgb(214, 53, 53);
  color: var(--white);
  border-radius: 5px;
}
 
/* Hovedinnhold */

h1, h2 {
  color: rgb(0, 0, 0);
  text-align: left;

}

p { 
  color:rgb(0, 0, 0);
  text-align: left;
}

/*style.css*/
.container {
  margin: auto;
  width: 95%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Bilder */
img {
  min-width: 250px;
  height: auto;
  border-radius: 10px;
}
