.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: auto;
	margin: 0;
	}


.knapp {
  background-color: #f9e70c;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 50px;
  text-decoration: none;
	}



.Tjeneste3tekst {
	font-size: 25px;
	margin: auto;
  width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	}


.navbar {
	ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #f9e70c;
	padding: 10px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	}
	li {
	display: inline;
	}
	li a {
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: #14213D;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
	li a:hover {
	background-color: #c0041d;
	border-radius: 10px;
}