/* Topptekst og navigasjonsbar*/
.header {
  text-align: center;
  background-color: var(--yellow);
}

.header h1 {
  text-transform: uppercase;
  margin: 0px;
  padding: 15px;
  hyphens: auto;
}

.nav {
  background-color: var(--yellow);
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  color: var(--black);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  font-size: 1.2rem;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color:  #c0041d;
  border-radius: 5px;
  color: white;
}

h1 {
  text-align: left;
  margin: 15px;
}

h2, p { 
  text-align: center;
}


.main {
  margin: auto;
  width: 95%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

/* Bunntekst */
.footer {
  display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: auto;
	margin: 0;
  background-color: #f9e70c;
  text-align: center;
  padding: 10px 0;
  width: 100%;
} 

/* Bilder */
img {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.main p:first-of-type {
  margin-bottom: 0;
}

.knapp {
  display: inline;
  width: fit-content;
  margin: auto;
}